<div class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="card default-bg-colors auth-container">
    <div class="card-body">
      <div class="d-flex">
        <div class="d-flex align-items-center">
          <i class="bi bi-exclamation-triangle-fill text-warning fs-1"></i>
        </div>
        <div class="ms-4">
          <h1>404</h1>
          <h2 class="m-0">Not Found</h2>
        </div>
      </div>
    </div>
  </div>
</div>