<div class="py-3 shadow-lg default-txt-color high-z-index">
  <div class="container d-flex flex-wrap justify-content-between">
    <div class="footer-left">
      <span>Films</span>
      <div class="theme-selector">
        <i class="bi bi-brightness-high-fill" id="lightModeBtn"></i>
        <i class="bi bi-moon-fill" id="darkModeBtn"></i>
      </div>
    </div>
    <span>Made with ❤️ in 2022</span>
  </div>
</div>