<div class="modal fade blur-bg" id="logoutModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column gap-3">
        <span>Are you sure that you want to logout?</span>
        <div class="d-flex justify-content-end gap-2">
          <button class="btn btn-outline-danger" id="logoutBtn">Yes</button>
          <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
        </div>
      </div>
    </div>
  </div>
</div>